/* <--------------- Common ---------------> */
body {
    font-family: 'MedievalSharp', cursive;
    font-size: 1.25rem;
}

header {
    background-image: url("images/Dissection.png");
    background-position: center;
    color: #fff;
    text-shadow: 1px 1px 2px #212529;
    text-align: center;
}

.navbarbackgound {
    background-color: black;
}

.bg-warning a {
    color: black;
}

.bg-warning a:focus,
.bg-warning a:hover,
.bg-warning a:active {
    color: black;
    text-decoration: underline;
}

.btn-custom {
    color: #fff;
    background-color: #EBB900;
    border-color: #EBB900;
    text-decoration: none;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active {
    color: #fff;
    background-color: #d19d00;
    border-color: #d19d00;
    text-decoration: none;
}

h1 {
    font-size: 100px;
}

a {
    color: #EBB900;
    text-decoration: none;
    cursor: pointer;
}

a:focus,
a:hover,
a:active {
    color: #d19d00;
    text-decoration: underline;
}

footer ul a {
    color: #212529;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.separator {
    height: 0.3rem;
    width: 6rem;
    background: #EBB900;
    border-radius: 1rem;
}

.border-shadow {
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.screen {
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.logos img {
    opacity: 0.4;
    filter: grayscale(100%);
    transition: opacity ease-in-out 0.15s;
}

.logos img:hover {
    filter: grayscale(0);
    opacity: 1;
}

.barmapdiv {
    height: 400px;
    display: inline-block;
    overflow: hidden;
    width: 100%;
}

.barmap {
    position: relative;
    top: -60px;
    height: 445px;
}


/* <--------------- Cards ---------------> */
.card {
    background-color: #fff;
    padding: 1rem;
    transition: box-shadow .25s ease-out, color .25s ease-out;
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.1);
}

.card .separator {
    margin: auto;
}

.card:focus,
.card:hover,
.card:active {
    box-shadow: 0 0.1rem 0.5rem 0 rgba(0, 0, 0, 0.5);
}

.card li {
    display: flex;
}

.card strong {
    color: #EBB900;
}