/* <--------------- Common ---------------> */
@font-face {
    font-family: "MedievalSharp-Book";
    src: url('fonts/MedievalSharp-Book.ttf');
    font-weight: normal;
    font-size: normal;
}

@font-face {
    font-family: "Medieval-Parchemin";
    src: url('fonts/Medieval-Parchemin.otf');
    font-weight: normal;
    font-size: normal;
}

body {
    font-family: 'MedievalSharp-Book';
    font-size: 1.25rem;
    color: #3a1603;
    background-color: #EFE5DD;
}

/* <--------------- Navbar ---------------> */
.navbar {
    font-family: 'MedievalSharp-Book';
    font-weight: bold;
}

.navbarbackgound {
    background-color: black;
}

/* <--------------- Header ---------------> */
header {
    background-image: url("images/Dissection.png");
    background-position: center;
    background-size: cover;
    color: #fff;
    text-shadow: 1px 1px 2px #212529;
    text-align: center;
}

/* <--------------- Background ---------------> */
.bg-custom1 {
    background-color: #DE2533;
}

.bg-custom1 a {
    color: #fff;
}

.bg-custom1 a:focus,
.bg-custom1 a:hover,
.bg-custom1 a:active {
    color: #fff;
    text-decoration: underline;
}

.backgroundImg {
    background-image: url("images/pattern1.jpg");
    background-repeat: repeat;
}

/* <--------------- Buttons ---------------> */
.btn-custom {
    font-family: 'MedievalSharp-Book';
    font-weight: bold;
    color: #fff;
    background-color: #DE2533;
    border-color: #DE2533;
    text-decoration: none;
}

.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active {
    color: #fff;
    background-color: #EE5A72;
    border-color: #EE5A72;
    text-decoration: none;
}

/* <--------------- Separator ---------------> */

.separator {
    height: 0.3rem;
    background: #fe5b63;
    border-radius: 1rem;
}

/* <--------------- Text ---------------> */
h1 {
    font-family: 'Medieval-Parchemin';
    font-size: 4rem;
}

h2 {
    font-family: 'Medieval-Parchemin';
    font-size: 3rem;
}

h3 {
    font-family: 'Medieval-Parchemin';
    font-size: 2.5rem;
}

h4 {
    font-family: 'Medieval-Parchemin';
    font-size: 2rem;
}

a {
    color: #DE2533;
    text-decoration: none;
    cursor: pointer;
}

a:focus,
a:hover,
a:active {
    color: #EE5A72;
    text-decoration: underline;
}

/* <--------------- Footer ---------------> */
footer {
    font-family: 'MedievalSharp-Book';
    background-color: black;
    color: white;
}

footer ul a {
    color: rgba(255, 255, 255, .55);
}

ul {
    list-style: none;
    padding-left: 0;
}

/* <--------------- Images ---------------> */
.icon {
    margin: 1rem;
    height: 3rem;
}

.logos img {
    opacity: 0.4;
    filter: grayscale(100%);
    transition: opacity ease-in-out 0.15s;
}

.logos img:hover {
    filter: grayscale(0);
    opacity: 1;
}

/* <--------------- Cards ---------------> */
.card {
    background-color: #fff;
    transition: box-shadow .25s ease-out, color .25s ease-out;
    box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card:focus,
.card:hover,
.card:active {
    box-shadow: 0 0.1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.card img {
    width: 100%;
    object-fit: cover;
}